body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

#contents {
  display: flex;
  max-width: 1600px;
  /* 最大幅を設定 */
  margin: 0 auto;
  /* 中央に配置 */
  /* background-color: aqua; */
}

#main {
  /* height: 2000px; */
  flex: 3;
  padding: 50px;
  /* background: yellow; */
}

#sub {
  flex: 1;
  /* background: green; */
}

#sub .box {
  margin: 0;
  padding: 0;
  /* パディングを削除 */
  position: sticky;
  top: 0;
  min-height: 100vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

/* main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
} */

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .35s ease;
  /* transform: translateX(-100%); */
  /* background-color: var(--bs-secondary-bg); */
}

.side_bottom{
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.Logo {
  padding: 10px;
  width: 100%;
}

.contents{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: margin-left .35s ease;
  margin-left: 280px;
}

.oneContent{
  max-width: 1000px;
}

.oneContent .btn{
  z-index: 2;
  position: relative;
}

/* .oneContent{
  display: flex;
  padding: 0;
  list-style: none;
}

.oneContent a{
  display: block;
  padding: 10px;
} */

.dropdown-toggle { outline: 0; }

/* .custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
} */

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
