{% extends 'app/layout.html'%}

{%block title%}peek{%endblock%}
{%block header%}
<h2>header</h2>
{%endblock%}

{%block content%}

{% if user.is_authenticated %}
<li>  <a class="nav-link">ユーザ名：{{ user.get_username }}</a></li>
<li>
    <a class="nav-link" href="">
        <a class="nav-link" href="{% url 'logout' %}">
        <i class="fa fa-fw fa-sign-out"></i>ログアウト</a>
</li>
{% endif %}
{%for item in contents%}
<hr>
<p class="message_owner">{{item.author}} さん</p>
<p class="message image"><img src="{{item.img.url}}" style="width: 10%; height: 10%;"></p>
<p class="message content">{{item.body}}</p>
<p class="message_date">({{item.created_at}})</p>
<span class="message_counter"></span>
{%endfor%}
{%endblock%}