{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css'% }"/>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">peek</a>
    </div>
    <div class="body_content">
    <div class="body_content_inner">
        <table class="login_table" width="100%">
            <tr><th width ="150px">menu</th><td>
            <table class="login_table_inner">
            <tr>
                <td>login</td>
            </tr>
            </table>
            </td></tr>
            {% if user.is_authenticated %}
            <tr><th width="150px">login user:</th>
            <td><a href="{%url 'profile' user.id%}">{{login_user}}</a></td></tr>
            {% endif %}
        </table>
        <div class="header">{%block header%}
            {%endblock%}</div>
        <div class="content">{%block content%}
            {%endblock%}</div>
        <div class="footer">
        <hr>
        <div>
            {% if user.is_authenticated %}
            <span style="float:left;font-weight:bold;">
                <a href="{% url 'logout' %}">[ logout ]</a></span>
            {% else %}
            <span style="float:left;font-weight:bold;">
                <a href="{% url 'login' %}">[ login ]</a></span>
            <span style="float:left;font-weight:bold;">
                <a href="{% url 'signup' %}">[ signup ]</a></span>
            {% endif %}
            
            <span style="float:right">
                <a href="{% url 'post' %}">post</a>
                peek
            </span>
        </div>
        </div>
    </div>
    </div>
</body>
</html>